body {
    background-color: #FFFEAB ; 
    color: #000000; 
    font-family: Arial, sans-serif; }
  .container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
   
  }
  header {
  background-color:#36859E  ;
  color: #fff;
  padding: 20px;

  }
  .form-row {
    display: flex;
    align-items: center;
  }

  .form-row label {
    margin-right: 10px;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  a:visited{
    color: #000000;
  }